<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/security  
        http://www.springframework.org/schema/security/spring-security.xsd">  

    <!-- 此目录下不需要过滤 -->  
	<http pattern="/static/**" security="none"/>
    <http pattern="/login.jsp" security="none"/>  

    <http use-expressions="false">  
        <!-- 登录功能 -->  
        <form-login login-page="/login.jsp" 
        	authentication-failure-url="/login.jsp?error" 
        	authentication-success-handler-ref="authenticationSuccessHandler"/>    
        <!-- 访问所有页面都需要有USER权限 -->  
        <intercept-url pattern="/**" access="ROLE_USER" />  
        <!-- 登出功能 --> 
        <logout />
        <!-- 关闭CSRF -->
        <csrf disabled="true"/>
    </http>  
    
    <beans:bean id="authenticationSuccessHandler"
        class="com.andywooh.xiaoman.controller.MySimpleUrlAuthenticationSuccessHandler" />    
   
    <authentication-manager>  
        <authentication-provider>  
            <user-service>  
                <!-- 这里创建两个用户，可以通过用户名密码登录 -->  
                <user name="admin" password="123" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="jimi" password="123" authorities="ROLE_USER" />
            </user-service>  
        </authentication-provider>  
    </authentication-manager>  
   
</beans:beans>  